
/* --- General Styles --- */
a {
    text-decoration: none;
    font-weight: bolder;
    color: whitesmoke;
}

body {
  background-image: linear-gradient(to bottom right, rgb(66, 85, 92), rgb(190, 214, 124));
  /* background-color: rgb(76, 101, 110); */
  text-align: center;
  font-weight: 600;
  color: rgb(190, 190, 190);
  text-shadow: 0 0 15px black;
}

p {
  font-size: 1.25em;
  padding: 0 20%;
}

li {
  list-style: none;
}

/* --- ID Styles --- */

#nav {
  list-style: none;
  text-align: center;
  padding: 0 50px;
}

#mainTitle {
  margin-top: 0;
  color: rgb(190, 190, 190);
  font-size: 3em;
  padding: .75em 0;
  text-align: center;
}

.header {
  background-color: rgb(73, 71, 71);
}

/* --- Header and menu styling --- */
.header, #mainTitle {
  display: flex;
}

.header {
  justify-content: space-between;
}

.nav-link {

  padding: 15px 15px;
  margin: 0;
  border-radius: 3px;
  font-size: 2em;
}


.menu-button {
  display: none;
}


.menu-button {
  display: block;
  font-weight: 700;
  background-color: gray;
  border: none;
  padding-right: 30px;
}

.menu-button:hover {
  background-color: darkgray;
}

#nav {
  /*-- display: none -  to start to hide menu, toggled in app.js --*/
  display: none;
  /* --- Left align navigation buttons and add curtain behind to add separation --- */
  background-color: gray;
  margin-top: 0;
  text-align: right;
}

/* --- Class Styles --- */

.button-line {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  display: flex;
  flex-direction: column;
}

.main-img {
    width: 65%;
    border-radius: 10px 50px 10px 50px;
    border: 8px solid rgb(13, 97, 20);

}

.heading {
    text-align: center;
    font-size: 3em;
}

.nav-link {
  background-color:gray;
  padding: 15px 15px;
  border-radius: 3px;
  font-size: 2em;
}

/* --- Image Carousel Styles --- */
/* .img-thumb {
  max-width: 60%;
}

.column {
  float:left;
  width: 25%;
  padding 10px;
} */

.img-display {
  width: 700px;
}


/* --- Media Queries --- */

@media (min-width: 1028px) {

/* --- Body Styling --- */

  .main-img {
    width: 35%;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .col {
    flex: 1 45%;
    padding: 1.5em 0;
  }
}
