
/* --- General Styles --- */
a {
    text-decoration: none;
    font-weight: bolder;
    color: whitesmoke;
}

body {
  background-image: url("nav_img2.JPG");
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  font-weight: 600;
  color: rgb(0, 212, 91);
  text-shadow: 2px 2px 3px black;
}

p {
  font-size: 1.25em;
  padding: 0 20%;
}

/* --- ID Styles --- */

#nav {
  list-style: none;
  text-align: center;
  padding: 0 50px;
}

#mainTitle {
  margin-top: 0;
  color: whitesmoke;
  font-size: 3em;
  padding: .75em 0;
  text-align: center;
}

.header {
  background-color: gray;
}

/* --- Header and menu styling --- */
.header, #mainTitle {
  display: flex;
}

.header {
  justify-content: space-between;
}

.nav-link {

  padding: 15px 15px;
  margin: 0;
  border-radius: 3px;
  font-size: 2em;
}


.menu-button {
  display: none;
}


.menu-button {
  display: block;
  font-weight: 700;
  background-color: gray;
  border: none;
  padding-right: 30px;
}

.menu-button:hover {
  background-color: darkgray;
}

#nav {
  /*-- display: none -  to start to hide menu, toggled in app.js --*/
  display: none;
  /* --- Left align navigation buttons and add curtain behind to add separation --- */
  background-color: rgb(47, 44, 44);
  margin-top: 0;
  text-align: right;
}

/* --- Class Styles --- */

.button-line {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  display: flex;
  flex-direction: column;
}

.main-img {
    width: 65%;
    border-radius: 10px 50px 10px 50px;
    border: 8px solid rgb(49, 122, 122);

}

.heading {
    text-align: center;
    font-size: 3em;
}

.nav-link {
  background-color: rgb(47, 44, 44);
  padding: 15px 15px;
  margin: 5px;
  border-radius: 3px;
  font-size: 2em;
}

/* --- Media Queries --- */

@media (min-width: 1028px) {



/* --- Body Styling --- */

  .main-img {
    width: 35%;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .col {
    flex: 1 45%;
    padding: 1.5em 0;
  }
}
